p {
    font-family: 'Open Sans', sans-serif;
}

h3 {
    color: #0088cc;
}

.asdivider {
    border-top: 1px solid #777;
    width: 37%;
    margin: 0 auto;
    margin-top: 20px;
}

.feature h2{
    font-family: 'Play', serif;
    color: #0088cc;
}

#ash1 {
    color: #0088cc;
    font-family: play, sans-serif;
}

.ash1 {
    color: #0088cc;
    font-family: play, sans-serif;
}

.panel-heading h2 {
    color: #222;
}

.aswrapper {
    position: relative;
}

.asblock {
    padding-top: 30px;
    padding-bottom: 30px;
}

.ascol {
    padding-top: 20px;
    padding-bottom: 20px;
}

.aspanel {
    padding-bottom: 20px;
}

.asbottombtn {
  color: white;
  font-weight: 600;
  font-size: 18px;
  font-family: cinzel, serif;
}

.asfeature {
    background-image: none;
    background-color: #fefefe;
    color: #333;
    padding-left: 5%;
    padding-right: 5%;
}

.feature {
    background-image: none;
    background-color: inherit;
}

.asglass {
    background-image: radial-gradient(rgba(0,0,0,0), rgba(0,0,0,0.1));
}

.asmain {
    background-image: radial-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.0)), url("../images/star.jpg");
    color: #ebebeb;
}
    
.asbg {
    background-color: #fefefe;
}

.asbg2 {
    background-image: radial-gradient(rgba(0,0,0,0.6), rgba(0,0,0,1));
    color: #ebebeb;
}

#asjumbotron{
    background-image: radial-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.0)), url("../images/gridmoon.jpg");
    background-attachment: scroll;
    background-position: bottom;
    padding-top: 100px;
    padding-bottom: 100px;
}

#asjumbotronmain {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.1));
    background-attachment: scroll;
    background-position: bottom;
    padding-left: 0%;
    padding-right: 0%;
}

.asbreak {
    background-image: radial-gradient( rgba(0,0,0,0.0), rgba(0,0,0,0.3));
    background-color: #333;
    margin-bottom: 20px;
}


.asimg {
    box-shadow: 0px 0px 15px #999;
    border: none;
    margin-top: 30px;
}

.asbrand {
    top: 0px;
      z-index: 999999;
      left: 15px;
      position: absolute;
    background-color: rgb(0, 0, 0, 0.6);
    border-radius: 30px;
    
}

.asbrand p {
    color: #eee;
    font-family: 'Cinzel', serif;
    font-size: 45px;
    text-shadow: 1px 1px 1px #111;
    display: inline-flex;
}


.asbrand #logo {
      height: 40px;
      width: 50px;
      margin-top: 10px;
}

.navbar-toggle-as {
      position: relative;
      float: right;
      padding: 9px 10px;
      margin-top: 8px;
      margin-right: 15px;
      margin-bottom: 8px;
      background-color: inherit;
      border: none;
}

.navbar-toggle-as:hover {
      position: relative;
      float: right;
      padding: 9px 10px;
      margin-top: 8px;
      margin-right: 15px;
      margin-bottom: 8px;
      background-color: inherit;
      border: none;
}

.panel-warning {
    border-color: #ddd;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
   background-color: inherit;
}

.feature hr {
  border-top: 0px solid #bbb;

/*          TINY Screens */
@media (min-width: 328px) and (max-width: 400px) {
    .navbar-toggle-as {
        display: none;
    }
    
    .asgetbtnsticky {
        display: none;
    }
    
    .asbottombtn {
        font-size: 16px;
    }
}
    
@media(min-width:1200px){
    .as50 {
        margin-bottom: 30px;
    }
    
    .as50 hr {
        color: white;
        border: solid black 50px;
    }
}
