/* Move down content because we have a fixed navbar that is 50px tall */
html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 50px;
    margin-bottom: 112px;
    background-color: #f5f5f5;
}

.jumbotron {
	text-align: center;
	color: #fff;
    text-shadow: 5px 5px 5px #000;
	background-image: url("../images/homebg.jpg");
	background-position: bottom center;
	background-attachment: fixed;  
    margin-bottom: 0px;  
}

.jumbotron h1 {
    font-family: serif;
    text-shadow: 2px 2px 1px #333;
}

.jumbotron .btn {
    margin: 0px 15px;
}
.navbar-brand {
    padding: 10px 0px;
}

.navbar-inverse .navbar-text {
    color: white;
    font-size: 35px;
    font-family: serif;
}

ul.nav {
    color: white;
    font-size: 20px;
    font-family: serif;
    padding-top: 15px;
}

.navbar .navbar-text {
    color: white;
}

.navbar-inverse .navbar-nav>li>a {
    color: #777;
    padding: 15px 10px;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #0088c0;
}

.navbar-inverse .navbar-nav>li>a:focus:hover {
    color:white;
}

.navbar-inverse .navbar-nav>.active-link>a {
    color: white;
}

.navbar-inverse .navbar-nav>.active-link>a:hover {
    color: white;
}

.navbar-text {
    margin-top: 15px;
    margin-bottom: 0px;
}

.footer p {
    text-align: center;
} 

.footer {
    color: #777;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 112px;
}

#footer {
    color: #777;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 112px;
}


.footer .container {
    width: 100%;
}

.footer-address, .footer-links {
    list-style: none;
}

.footer-address {
    text-align: right;
}

.footer-links {
    text-align: left;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    
    /* inline-block space fix */
    margin-right:-4px;
}

.footer .col-xs-6 {
    width:auto;
}

.leftblock {
    text-align: left;
    background-color: #f5f5f5;
}

.rightblock {
    text-align: right;
    background-color: #ebebeb;
}

.centerblock {
    text-align: center;
    background color: #f5f5f5;
    list-style-type: none;
}

.centerblock li {
    display: inline;
}

#why {
    background-color: #ebebeb;
}

#consulting {
    background-color: #f5f5f5;
}

#appsec {
    background-color: #ebebeb;
    text-align: right;
}

#blog {
    background-color: #ebebeb;
    text-align: center;
}

#audit {
    background-color: #f5f5f5;
}

#blogline {
    width: 25%;
    border-top: 1px solid #428bca;
    margin-top: 10px;
}
    
.feature {
    padding-top: 30px;
    padding-bottom: 30px;
}

.feature h2 {
    color: #428bca;
    font-family: serif;
    font-size: 36px;
}

#blog h2 {
    color: #444;
    font-family: serif;
}

.feature p {
    font-size: 16px;
}

#blog p {
    font-size: 16px;
}

#recentblogs h2 {
    color: #428bca;
    font-weight: 200;
    font-size: 40px;
}

#miniblog h2 {
    color: #555;
    text-shadow: 0px 1px 0px #fff;
    font-size: 26px;
}

#formstyle {
    width: 400px;
    text-align: left;
    padding: 5%;
    background-color: #777;
    border-radius: 10px;
    color: #f5f5f5;
    box-shadow: 5px -5px 5px #999;
    
}

.formmargin {
    margin-top: 20px;
}

.forminput {
    cursor: auto;
    width: 100%;
    border-radius: 3px;
    padding: 4px;
    color: #333;
    /*box-shadow: -1px 1px 2px #999;*/
}

.formtext {
    width: 100%;
    max-width: 100%;
    padding: 4px;
    border-radius: 3px;
    color: #333;
    /*box-shadow: 2px 2px 2px #fff;*/
}

.formlabel {
    padding-top: 10px;
    font-family: serif;
    font-size: 16px;
    /*text-shadow: 1px 1px 0px #777;*/
    color: #ebebeb;
}

.formbutton {
    margin-top: 10px;
    text-align: center;
    padding-left: 5%;
}

.formcenter {
    text-align: center;
}

.formheader {
    font-family: serif;
    font-size: 16px;
    width: 100%;
    text-align: center;
}

.contactus ul {
    list-style-type: none;
    width: 95%;
}

.formheader hr {
    padding: 0px;
    border: solid 1px;
    margin: 5px;
}