/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

.jumbotron {
	text-align: center;
	color: white;
	background-image: url('https://unsplash.imgix.net/photo-1420406676079-b8491f2d07c8?q=75&fm=jpg&s=8db19ba4b3ac8b198d3172ab4e7d2154');
	background-position: right bottom;
	background-attachment: fixed;
    margin-bottom: 0px;  
}

.jumbotron h1 {
    font-family: serif;
}

.navbar-brand {
    padding: 10px 0px;
}

.navbar-inverse .navbar-text {
    color: white;
    font-size: 30px;
    font-family: serif;
}

ul.nav {
    color: white;
    font-size: 18px;
    font-family: serif;
    padding-top: 15px;
}

.navbar .navbar-text {
    color: white;
}

.navbar-inverse .navbar-nav>li>a {
    color: #777;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #0088c0;
}

.navbar-inverse .navbar-nav>li>a:focus:hover {
    color:white;
}

.navbar-inverse .navbar-nav>.active>a {
    color: white;
}

.navbar-inverse .navbar-nav>.active-link>a {
    color: white;
}

.navbar-text {
    margin-top: 15px;
    margin-bottom: 0px;
}

.footer p {
    text-align: center;
} 

.footer {
    color: #777
}

.footer .container {
    width: 100%;
}

.footer-address, .footer-links {
    list-style: none;
}

.footer-address {
    text-align: right;
}

.footer-links {
    text-align: left;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    
    /* inline-block space fix */
    margin-right:-4px;
}

.footer .col-xs-6 {
    width:auto;
}

#consulting {
    background-color: #f5f5f5;
}

#appsec {
    background-color: #ebebeb;
    text-align: right;
}

#blog {
    background-color: #ebebeb;
    text-align: center;
}

#audit {
    background-color: #f5f5f5;
}

#blogline {
    width: 25%;
    border-top: 1px solid #428bca;
    margin-top: 10px;
}
    
.feature {
    padding-top: 30px;
    padding-bottom: 30px;
}

.feature h2 {
    color: #428bca;
}

#blog h2 {
    color: #444;
    font-family: serif;
}

#blog-header {
    color: #428bca;
    font-weight: 200;
    font-size: 40px;
}