.btn-default2 {
  color: #ffffff;
  background-color: #474949;
  border-color: #474949;
}
.btn-default2:hover,
.btn-default2:focus,
.btn-default2.focus,
.btn-default2:active,
.btn-default2.active,
.open > .dropdown-toggle.btn-default2 {
  color: #ffffff;
  background-color: #2e2f2f;
  border-color: #292a2a;
}
.btn-default2:active,
.btn-default2.active,
.open > .dropdown-toggle.btn-default2 {
  background-image: none;
}
.btn-default2.disabled,
.btn-default2[disabled],
fieldset[disabled] .btn-default2,
.btn-default2.disabled:hover,
.btn-default2[disabled]:hover,
fieldset[disabled] .btn-default2:hover,
.btn-default2.disabled:focus,
.btn-default2[disabled]:focus,
fieldset[disabled] .btn-default2:focus,
.btn-default2.disabled.focus,
.btn-default2[disabled].focus,
fieldset[disabled] .btn-default2.focus,
.btn-default2.disabled:active,
.btn-default2[disabled]:active,
fieldset[disabled] .btn-default2:active,
.btn-default2.disabled.active,
.btn-default2[disabled].active,
fieldset[disabled] .btn-default2.active {
  background-color: #474949;
  border-color: #474949;
}
.btn-default2 .badge {
  color: #474949;
  background-color: #ffffff;
}
.navbar-default2 {
  background-color: #eeeeee;
  border-color: #dddddd;
}
.navbar-default2 .navbar-brand {
  color: #777777;
}
.navbar-default2 .navbar-brand:hover,
.navbar-default2 .navbar-brand:focus {
  color: #3399f3;
  background-color: transparent;
}
.navbar-default2 .navbar-text {
  color: #777777;
}
.navbar-default2 .navbar-nav > li > a {
  color: #777777;
}
.navbar-default2 .navbar-nav > li > a:hover,
.navbar-default2 .navbar-nav > li > a:focus {
  color: #3399f3;
  background-color: transparent;
}
.navbar-default2 .navbar-nav > .active > a,
.navbar-default2 .navbar-nav > .active > a:hover,
.navbar-default2 .navbar-nav > .active > a:focus {
  color: #3399f3;
  background-color: transparent;
}
.navbar-default2 .navbar-nav > .disabled > a,
.navbar-default2 .navbar-nav > .disabled > a:hover,
.navbar-default2 .navbar-nav > .disabled > a:focus {
  color: #444444;
  background-color: transparent;
}
.navbar-default2 .navbar-toggle {
  border-color: #dddddd;
}
.navbar-default2 .navbar-toggle:hover,
.navbar-default2 .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-default2 .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-default2 .navbar-collapse,
.navbar-default2 .navbar-form {
  border-color: #dddddd;
}
.navbar-default2 .navbar-nav > .open > a,
.navbar-default2 .navbar-nav > .open > a:hover,
.navbar-default2 .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: #3399f3;
}
@media (max-width: 767px) {
  .navbar-default2 .navbar-nav .open .dropdown-menu > li > a {
    color: #777777;
  }
  .navbar-default2 .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default2 .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #3399f3;
    background-color: transparent;
  }
  .navbar-default2 .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default2 .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default2 .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #3399f3;
    background-color: transparent;
  }
  .navbar-default2 .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default2 .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default2 .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444444;
    background-color: transparent;
  }
}
.navbar-default2 .navbar-link {
  color: #777777;
}
.navbar-default2 .navbar-link:hover {
  color: #3399f3;
}
.navbar-default2 .btn-link {
  color: #777777;
}
.navbar-default2 .btn-link:hover,
.navbar-default2 .btn-link:focus {
  color: #3399f3;
}
.navbar-default2 .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default2 .btn-link:hover,
.navbar-default2 .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default2 .btn-link:focus {
  color: #444444;
}
.label-default2 {
  background-color: #474949;
}
.label-default2[href]:hover,
.label-default2[href]:focus {
  background-color: #2e2f2f;
}
.panel-default2 {
  border-color: #dddddd;
}
.panel-default2 > .panel-heading {
  color: #333333;
  background-color: #f5f5f5;
  border-color: #dddddd;
}
.panel-default2 > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #dddddd;
}
.panel-default2 > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333333;
}
.panel-default2 > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #dddddd;
}
.btn-default2 {
  background-image: -webkit-linear-gradient(#6d7070, #474949 50%, #3d3f3f);
  background-image: -o-linear-gradient(#6d7070, #474949 50%, #3d3f3f);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6d7070), color-stop(50%, #474949), to(#3d3f3f));
  background-image: linear-gradient(#6d7070, #474949 50%, #3d3f3f);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6d7070', endColorstr='#ff3d3f3f', GradientType=0);
  -webkit-filter: none;
          filter: none;
  border: 1px solid #2e2f2f;
}
.btn-default2:hover {
  background-image: -webkit-linear-gradient(#636565, #3d3f3f 50%, #333434);
  background-image: -o-linear-gradient(#636565, #3d3f3f 50%, #333434);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#636565), color-stop(50%, #3d3f3f), to(#333434));
  background-image: linear-gradient(#636565, #3d3f3f 50%, #333434);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff636565', endColorstr='#ff333434', GradientType=0);
  -webkit-filter: none;
          filter: none;
  border: 1px solid #242525;
}