@media (min-width: 1px) and (max-width: 767px) {
    #navbar{
      margin-top: -17px;
      opacity: 0.99;
      background-color: hsl(201, 0%, 7%) !important;
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2b2b2b", endColorstr="#111111");
      background-image: -khtml-gradient(linear, left top, left bottom, from(#2b2b2b), to(#111111));
      background-image: -moz-linear-gradient(top, #2b2b2b, #111111);
      background-image: -ms-linear-gradient(top, #2b2b2b, #111111);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #111111));
      background-image: -webkit-linear-gradient(top, #2b2b2b, #111111);
      background-image: -o-linear-gradient(top, #2b2b2b, #111111);
      background-image: linear-gradient(#2b2b2b, #111111);
      border-color: #111111 #111111 hsl(201, 0%, 4.5%);
      color: #fff !important;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
      -webkit-font-smoothing: antialiased;
    }
    #logo{
      margin-left: 15px;
      margin-right: 10px;
    }

    .jumbotron {
      padding: 15% 10%;
    }
      .jumbotron h1 {
        font-size: 4rem;
      }

    .wrapper {
      padding-top: 5%;
      padding-bottom: 20%;
    }

    .feature {
      padding-bottom: 15%;
    }

    .imgpad {
      padding-top: 1rem;
      padding-bottom: 2rem;
    }

    .text-center-xs {
      text-align: center;
    }

    #footercopy p {
      margin-top: 5px;
      margin-bottom: 0px;
    }
}

/*          XS Screens */
@media (min-width: 320px) and (max-width: 479px) {

  .feature {
    padding-left: 5%;
    padding-right: 5%;
  }

  .imgpad {
    margin-top: 1rem;
  }

  .feature h2 {
    font-size: 4rem;
    text-align: center;
  }

  .text-center-xs {
    display: inline-flex;
    padding: 0px;
  }

    #footerlink {
        float: none;
        margin-right: 0%;
    }

    .footfix {
      padding-bottom: 15px;
    }

    #footerlink, #footercopy {text-align: center}
}

/*  Extra Small Screens (phone) */
@media (min-width: 480px) and (max-width: 767px) {

  .feature {
    padding-left: 5%;
    padding-right: 5%;
  }

  .imgpad {
    margin-top: 1rem;
  }

  .feature h2 {
    font-size: 4rem;
    text-align: center;
  }
    #footerlink {
        float: none;
        margin-right: 0%;
    }

    .footfix {
      padding-bottom: 15px;
    }
    #footerlink, #footercopy {text-align: center}
}

/*  Small Screen (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 745px;
  }

  .imgpad {
    margin: 0 auto;
    margin-top: 2rem;
  }
  .feature h2 {
    text-align: center;
  }
  .text-center-xs {
    text-align: center;
  }
  #footercopy {
    font-size: 1.3rem;
  }
}

/*  Medium Screens (notebook) */
@media (min-width: 992px) and (max-width: 1199px) {
  .imgpad {
    margin-top: 4rem;
  }
}

/*  Large Screen (Desktop) */
@media (min-width: 1200px) {
  .imgpad {
    margin-top: 4rem;
  }
}
