@media (min-width: 1px) and (max-width: 767px) {
    #navbar{
      margin-top: -18px;
      opacity: 0.99;
      background-color: #efefef;
       !important;
      background-image: -webkit-linear-gradient(top, #fff 0%, #f8f8f8 100%);
      background-image:      -o-linear-gradient(top, #fff 0%, #f8f8f8 100%);
      background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f8f8f8));
      background-image:         linear-gradient(to bottom, #fff 0%, #f8f8f8 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
      filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
      background-repeat: repeat-x;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
              box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
      color: #777 !important;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
      -webkit-font-smoothing: antialiased;
    }
    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
      background-color: inherit;
      background-image: none;
      border-bottom: 0px solid #0088cc;
      box-shadow: none;
      color: #0088cc;
    }
    .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.open>a:hover {
      background-color: inherit;
      background-image: none;
      border-bottom: 0px solid #0088cc;
      box-shadow: none;
      color: #0088cc;
    }
    .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.open>a:focus {
      background-color: inherit;
      background-image: none;
      border-bottom: 0px solid #0088cc;
      box-shadow: none;
      color: #0088cc;
    }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
      background-color: #fff;
    }
    .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
      margin-right: -16px;
      margin-left: -16px;
    }

    #navbar {
      padding-left: 7%;
    }
    
    #logo{
      margin-left: 15px;
      margin-right: 10px;
    }

    .jumbotron {
      padding: 15% 10%;
      padding-top: 100px;
    }
      .jumbotron h1 {
        font-size: 4rem;
      }

    .wrapper {
      padding-top: 5%;
    }

    .container {

    }

    .feature {
      padding-bottom: 15%;
    }

    .imgpad {
      padding-top: 1rem;
      padding-bottom: 2rem;
    }

    .text-center-xs {
      text-align: center;
    }

    #footercopy p {
      margin-top: 5px;
      margin-bottom: 0px;
    }

    .affix-top {
      position: fixed;
      top: 0;
      width: 100%;
    }
    .contactwrap {
      width: 100%;
    }
    .servl, .servr {
      text-align: center;
      padding-bottom: 5%;
    }
    .explogo {
      padding-top: 5%;
    }
    .servl .row, .servr .row {
      display: inline-flex;
    }
    .servtext {
      width: 250px;
    }
    .servl {
      padding-right: 15px;
    }
    .servr {
      padding-left: 15px;
    }
    .headline {
      width: 30%;
      padding-bottom: 5%;
    }
}

/*          XS Screens */
@media (min-width: 320px) and (max-width: 479px) {

  .feature {
    padding-left: 5%;
    padding-right: 5%;
  }
  .container {
    padding-left: 1%;
    padding-right: 1%;
  }
  .imgpad {
    margin-top: 1rem;
  }

  .feature h2 {
    font-size: 4rem;
    text-align: center;
  }

  .text-center-xs {
    display: inline-flex;
    padding: 0px;
  }

    #footerlink {
        float: none;
        margin-right: 0%;
    }

    .footfix {
      padding-bottom: 15px;
    }

    #footerlink, #footercopy {text-align: center}
}

/*  Extra Small Screens (phone) */
@media (min-width: 480px) and (max-width: 767px) {

  .feature {
    padding-left: 5%;
    padding-right: 5%;
  }

  .imgpad {
    margin-top: 1rem;
  }

  .feature h2 {
    font-size: 4rem;
    text-align: center;
  }
    #footerlink {
        float: none;
        margin-right: 0%;
    }

    .text-center-xs {
      display: inline-flex;
      padding: 0px;
    }


    .footfix {
      padding-bottom: 15px;
    }
    #footerlink, #footercopy {text-align: center}


}

/*  Small Screen (tablets) */
@media (min-width: 768px) and (max-width: 991px) {


  .imgpad {
    margin: 0 auto;
    margin-top: 2rem;
  }
  .feature h2 {
    text-align: center;
  }
  .text-center-xs {
    text-align: center;
  }
  #footercopy {
    font-size: 1.3rem;
  }
  .contactwrap {
    width: 80%;
  }

  .servl, .servr {
    text-align: center;
    padding-bottom: 5%;
  }

  .explogo {
    padding-top: 5%;
  }
  .servl .row, .servr .row {
    display: inline-flex;
  }
  .servtext {
    width: 250px;
  }
  .headline {
    width: 30%;
  }
  .servr {}
}

/*  Medium Screens (notebook) */
@media (min-width: 992px) and (max-width: 1199px) {


  .imgpad {
    margin-top: 5rem;
  }
  .contactwrap {
    width: 80%;
  }
  .servr {
    padding-left: 5%;
  }
}

/*  Large Screen (Desktop) */
@media (min-width: 1200px) {


  .imgpad {
    margin-top: 4rem;
  }

}
