/* NAV BAR STYLE */
#logo {
  height: 65px;
  width: 60px;
  margin-top: -15px;
}

#nav {
  z-index: 99999;
}

#navbar > ul > li > a {
  padding-top: 10px;
  padding-bottom: 7px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
  background-color: inherit;
  background-image: none;
  border-bottom: 2px solid #0088cc;
  box-shadow: none;
  color: #0088cc;
}
.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.open>a:hover {
  background-color: inherit;
  background-image: none;
  border-bottom: 2px solid #0088cc;
  box-shadow: none;
  color: #0088cc;
}
.navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.open>a:focus {
  background-color: inherit;
  background-image: none;
  border-bottom: 2px solid #0088cc;
  box-shadow: none;
  color: #0088cc;
}
#navbar > ul > li.active > a {
  color: #0088cc;
}

.navbar-text {
  margin-left: 5px;
  color: #777;
}
.navbar-text a {
  color: #777;
}
.navbar-text a:focus {
  color: #777;
}
.navbar-text a:hover {
  color: #777;
}
#navbar > ul > li > a:focus {
  color: #0088cc;
}
#navbar > ul > li.dropdown.open > a {
  color: #0088cc;
}

 .affix {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Content STYLE */
.wrapper {
  padding-bottom: 0px;
}
.jumbotron {
  background-image: url("../images/apple.jpg");
  background-position: bottom right;
  background-size: auto;
  padding-top: 100px;
}

.feature h2 {
  text-align: center;
}

.feature p {
  text-align: center;
  font-size: 1.5em;
  color: #333;
}

.about {
  padding-left: 10%;
  padding-right: 10%;
}

.about p {
  letter-spacing: 0.2rem;
}

.headline {
  border-top: 1px solid #0088cc;
  width: 10%;
  margin-top: 1%;
  margin-bottom: 5%;
}

.parafont p{
  color: #ebebeb;
}

.parafont h2, h3{
  color: #ebebeb;
}

.para1 {
  background-image: url("../images/mattephone.jpg");
  background-position:center;
  background-attachment: fixed;
}

.rowspace {
  padding-top: 1%;
  padding-bottom: 1%;
}

.servl {
  text-align: right;
  padding-right: 2%;
}
.servr {
  text-align: left;
  padding-left: 2%;
}
.textr {
  padding-left: 5%;
}
.servrtext {
  padding-left: 20px;
}

.faback {
  color: #fff;
}
.fafront {
  color: #0088cc;
}

.explogo {
  margin: 0 auto;
}

.exp {
  padding-left: 5%;
  padding-right: 5%;
}
.exp h3, h2 {
  color: #0088cc;
  text-align: center;
}

.exprow {
  padding-bottom: 5%;
}

.para2 {
  background-image: url("../images/mobile2.jpg");
  background-position:center;
  background-attachment: fixed;
}

/* CONTACT FORM */
/*.contact {
  text-align: center;
}

.contact label {
  color: #fff;
  text-shadow: 0 0 0 #111;
  width: 100px;
  font-size: 22px;
  text-align: left;
  margin-right: 25px;
}
.contact input {
  width: 40%;
  height: 40px;
  padding: 5px;
  padding-left: 10px;
}
.contact textarea {
  width: 40%;
  height: 50px;
}

.contact .field {
  margin-top: 1%;
  margin-bottom: 1%;
}*/
.contactwrap {
  width: 70%;
}
